<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="content">
      <% if (result) { %>
        <div><%= result.subject %></div>
        <div class="task-box"><%- result.body %></div>
      <% } %>
      <a class="delete" id="bin" data-doc="<%= result._id %>">delete</a>
    </div>
    <script>
      const bin = document.querySelector("#bin");
      bin.addEventListener("click", (e) => {
        const endpoint = `/${bin.dataset.doc}`;

        fetch(endpoint, { method: "delete" })
          .then((response) => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
      });
    </script>
  </body>
</html>
