<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Serving EJS File!!</h1>
    <% if (result) { %>
      <% result.forEach( task => { %>
        <div>
          <a href="/create"><%- task.subject %></a>
        </div>
        <!-- <div><%- task.body %></div> -->
      <% }) %>
    <% } %>
        <!-- <p><%= result %></p>
    <% if (result) { %>
    <div><%- result[0].body %></div>
    <% } %> -->
  </body>
</html>
